body {
padding-bottom: 15%;
height: 800px; 
}

.table {
width: 600px;
padding-top: 15%;
text-align: center;
margin: auto;
margin-top: 10%;
}

th{
text-align: center;
}

button {
cursor: pointer;
background: rgba(0, 170, 238, 0);
border: 0;
}

a {
color: black;
text-decoration: none;
}

.field {
margin-left: 10%;
margin-top: 10%;
}