body {
padding-top: 15%;
padding-bottom: 15%;
padding-top: 0px;
height: 100%; 
}

.container {
padding-top: 2%;
color: black;
font-size: 22pt;
text-align:  center;
}

textarea {
width: 600px;
height: 100px;
}