body {
padding-top: 15%;
padding-bottom: 15%;
padding-top: 0px;
height: 100%; 
}

p {
text-align: center;
}

.btn-primary{
margin-top: 1%;
}

.header {
color: black;
font-size: 22pt;
text-align:  center;
padding-top: 2%;
}
