body {
padding-top: 15%;
padding-bottom: 15%;
padding-top: 0px;
height: 100%; 
}

.header {
color: black;
font-size: 24pt;
text-align:  center;
}


.field {
clear:both; 
text-align:right; 
line-height:25px;
}


.main {
float:left;
padding-top: 1%;
}

.button {
clear:both; 
text-align:center; 
line-height:30px;
}

label {
float:left; 
padding-right:5px;
font-size: 16pt;
text-shadow: white 0 0 5px;
}

.container{
margin-left: 32.5%;
width: 620px;
padding-top: 1%;
}


textarea {
width: 620px;
    height: 100px;
}
