body {
padding-top: 15%;
padding-bottom: 15%;
padding-top: 0px;
height: 100%; 
}

.header {
color: black;
font-size: 24pt;
text-align:  center;
margin-right: 15.5%;
margin-left: -12.5%;
}

.field {
clear:both; 
text-align:right; 
line-height:25px;
}


.main {
float:left;
padding-top: 2%;
}

.button {
clear:both; 
text-align:center; 
line-height:30px;
padding-top: 3%;
}

label {
float:left; 
padding-right:5px;
font-size: 16pt;
text-shadow: white 0 0 5px;
}

.container {
margin-left: 37%;
width: 500px;
padding-top: 2%;
}